In [1]:
x = 10*20

In [2]:
x

200

In [3]:
print(x)

200

In [4]:
a, b =3 ,4

In [5]:
a

3

In [6]:
type(b)

int

In [7]:
print('havij')

havij

In [11]:
a = "shalqam"

In [12]:
type(a)

str

In [13]:
2*4

8

In [22]:
b= 8/2

In [16]:
type(b)

float

In [17]:
b = int(8/2)

In [18]:
type(b)

int

In [19]:
b = 8//2 #floor

In [20]:
type(b)

int

In [21]:
b

4

In [23]:
2**4

16

In [ ]:
# comment
"""
multiline
comment
"""

In [28]:
a = input("mive morede alaghe?")

mive morede alaghe? 10

In [29]:
type(a)

str

In [39]:
a = int(input())

 111658

In [31]:
type(a)

int

In [32]:
name = 'matin'

In [34]:
print('salam ' + name + ' chetori?')

salam matin chetori?

In [35]:
'salam %s, khubi?' % name

'salam matin, khubi?'

In [40]:
'salam %x' % a

'salam 1b42a'

In [42]:
'salam %(esm)s, khubi? %(age)d salete?' % {"esm":name, "age":a}

'salam matin, khubi? 111658 salete?'

In [43]:
'salam {} chetori?'.format(name)

'salam matin chetori?'

In [45]:
"salam {esm} chetori".format(esm=name)

'salam matin chetori'

In [47]:
f'salam {name} chetori?'

'salam matin chetori?'

In [48]:
x= 300

In [50]:
if x > 200:
    print('folan')

folan

In [53]:
a, b = input().split()

 40 20

In [54]:
if a==b:
# --->indent
    print('=')
elif a >b:
    print('a>b')
else:
    print('a<b')

a>b

In [60]:
for i in range(10, 30):
    print(i, end=' _ ')
    if i == 12:
        break

10 _ 11 _ 12 _

In [61]:
for animal in ['dog', 'cat']:
    print(animal)

dog
cat

In [62]:
x = 0
while x<4:
    print(x)
    x += 1

0
1
2
3

In [63]:
mylist = ['a']

In [64]:
mylist.append('b')

In [65]:
mylist

['a', 'b']

In [66]:
mylist.append(12)

In [67]:
mylist

['a', 'b', 12]

In [68]:
13 in mylist

False

In [69]:
12 in mylist

True

In [71]:
myset = {'ali', 'hassan'}

In [72]:
myset = set('my name is matin and matin is my name'.split())

In [73]:
myset

{'and', 'is', 'matin', 'my', 'name'}

In [74]:
mydict = { 1:'matin', 2:'ali', 3:'hassan'}

In [75]:
for key, value in mydict.items():
    print(f'{key} ----> {value}')

1 ----> matin
2 ----> ali
3 ----> hassan

In [76]:
mytuple = (1, 2 ,3)

In [77]:
# == , is

In [78]:
list1 = []
list2 = []
list3 = list1

In [79]:
list1 == list2

True

In [80]:
list1 is list2

False

In [81]:
list3 is list1

True

In [82]:
def add(x, y):
    print(f'x is {x} and y is {y}')
    return x + y

In [83]:
add(5, 6)

x is 5 and y is 6

11

In [84]:
add(y=7, x=11)

x is 11 and y is 7

18

In [85]:
def two(x,y):
    return x+y, x-y

In [86]:
a, b = two(8,7)

In [87]:
a

15

In [88]:
b

1

In [89]:
import math

In [90]:
print(math.sqrt(25))

5.0

In [91]:
from math import floor

In [92]:
floor(5.2)

5

In [93]:
import math as shalqam

In [94]:
shalqam.sqrt(81)

9.0

In [95]:
a = None